<html>
<head>
  <title>Cisco Meraki Mini Lab</title>
  <script>
    var Chartkick = {"language": "es"};
 </script>
 <script src="http://google.com/jsapi"></script>
 <script src="chartkick.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
