<tr>
  <th>
    <div class="button-container">
      <form action="/sort" method="post">
        <input type='hidden' name="sortByCreator" value="true" />
        <input type='hidden' name="sortAsc" value="true" />
        <input type="submit" value="/\">
      </form>
      <form action="/sort" method="post">
        <input type='hidden' name="sortByCreator" value="true" />
        <input type='hidden' name="sortAsc" value="false" />
        <input type="submit" value="\/">
      </form>
    </div>
    Creator</th>
  <th>
    <div class="button-container">
      <form action="/sort" method="post">
        <input type='hidden' name="sortByCreator" value="false" />
        <input type='hidden' name="sortAsc" value="true" />
        <input type="submit" value="/\">
      </form>
      <form action="/sort" method="post">
        <input type='hidden' name="sortByCreator" value="false" />
        <input type='hidden' name="sortAsc" value="false" />
        <input type="submit" value="\/">
      </form>
    </div>
    Count</th>
</tr>
