<h1> Cisco Meraki Mini Labs </h1>
<form action="/refresh" method="POST">
  <input type="SUBMIT" value="Refresh Data">
</form>

<em style="color: green; font-size: 2em;">
    The current calendars are: <br>
</em>

<em style="color: green; font-size: 1em;">

  <% i=1
  calData = Hash.new %>
  <% cals.each do |name, calendar|
    calData["#{name} (#{calendar.events.count} events)"] = calendar.events.count%>
  <%="#{i}: #{calendar.name}" %> <br>
  <%="Events: #{calendar.events.count}" %> <br>
  <% i+=1 %>
  <% end %>
</em>
<%= pie_chart(calData) %>
